# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.DS_Store
*.gem
*.rbc
*.swp
*.tmproj
*~
.idea/
.\#*
.config
.yardoc
InstalledFiles
\#*
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmtags
public/static/*
public/uploads/*
REVISION
.env
